.button {
    -fx-background-color: linear-gradient(to bottom, #ffffff, #f7f7f7, #eeeeee, #e6e6e6, #dedede);;
    -fx-border-color: black;
    -fx-border-width: 1;
    -fx-border-radius: 3;
    -fx-cursor: hand;
}

.button:hover {
    -fx-background-color: white;
}

.label {
    -fx-font-family: 'Open Sans';
    -fx-font-size: 14;
}