#scrollPane, #vBox {
    -fx-background-color: #FFEACF;
}

.label {
    -fx-font-size: 14;
}

#name, #descriptionLabel, #reviewsLabel {
    -fx-font-family: 'Montserrat';
    -fx-font-weight: bold;
}

#name {
    -fx-font-size: 20;
}

#descriptionLabel, #reviewsLabel {
    -fx-font-size: 16;
}